
.footer {
  background-color: #100b0b90; /* Light gray background */
  padding: 2rem;
  bottom: 0; /* Stick it to the bottom */
  left: 0; /* Align it to the left */
  width: 100%; /* Full width */
  justify-content: center;
}

.footerContent {
  display: flex; /* Make sections side-by-side */
  justify-content: flex-end; /* Align content to the end */
  
}

.footerLeft,
.footerRight {
  flex: 1; /* Make sections share space equally */
  padding: 1rem; /* Add some padding */
}

.footerInfoSection,
.footerContact {
  margin-bottom: 1rem; /* Spacing between sections within columns */
}

.footer h3 {
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.footer p {
  line-height: 1.5; /* Adjust line spacing for better readability */
}

.footer a {
  color: #007bff; /* Blue links for better user experience */
  text-decoration: none; /* Remove underline from links */
}

.footer a:hover {
  text-decoration: underline; /* Underline on hover for clarity */
}

.socialLinks {
  display: flex;
  justify-content: center;
  margin-top: 1rem; /* Add some spacing from contact information */
}

.socialLinks a {
  margin-right: 1rem; /* Spacing between social media icons */
  font-size: 1.2rem; /* Adjust icon size as needed */
  color: #007bff; /* Blue color for consistency */
}

.socialLinks a:hover {
  text-decoration: none;
}
