.header {
  display: flex;
  align-items: center;
  justify-content: center; /* Center the content horizontally */
  padding: 30px;
  position: relative;
  z-index: 2; /* Ensures the header is above other elements */
}

.hamburger {
  font-size: 30px;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  position: absolute;
  left: 20px; /* Keep the hamburger menu on the far left */
  z-index: 2;
}

.logoNavbarContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%; /* Ensures the content is centered within the header */
}

.logoContainer {
  display: flex;
  align-items: center;
  margin-right: 20px; /* Adjust this value to space out the elements */
}

.logo {
  margin-right: 10px;
  font-size: 40px;
  text-shadow: none;
  letter-spacing: 1px;
}

.logoName {
  font-size: 24px;
  color: rgb(255, 255, 255);
  margin-right: 20px;
}

.navigation {
  z-index: 2; /* Ensures the navigation is above other elements */
}

.themeToggle {
  z-index: 1000;
  position: absolute;
  top: 20px;
  right: 20px; /* Adjusted to ensure it fits within your layout */
}
